# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/
build/
target/

# Cache
.turbo/
.cache/
.parcel-cache/

# Env
.env
.env*.local
!.env.example

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# Vercel
.vercel
